header
  meta(name="viewport" content="width=device-width",initial-scale=1.0)
  //img(src="/img/bgimg.jpg" class="img-fluid w-100" alt="Header Image")
  //div(class="row" style="text-align:center;")
h1 Welcome To Aamdani