extends layout
block content

  h1 Dashboard 
    if(uname)
      div(id="maindiv" style="back-color:yellow") 
        h3 #{uname}
        p Please login to continue.
    else 
      redirect('/login')
