body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.hidecol{
  display: none;
}
.wrapper {
  display: flex;
}

#sidebar {
  background: #555;
  color: white;
  width: 200px;
  transition: width 0.3s;
}

#sidebar.collapsed {
  width: 50px;
}

.content {
  flex: 1;
  padding: 20px;
}
