extends ../layout

block content
  h2 Login
  if error
    p.text-danger #{error}
  form(method="POST" action="/admin/login")
    .mb-3
      label.form-label Username
      input.form-control(type="text" name="uname" required)
    .mb-3
      label.form-label Password
      input.form-control(type="password" name="upass" required)
    button.btn.btn-primary(type="submit") Login
  