form(id='loginForm',action='admin/login',method = 'post')
  input(type="text", name="uname", placeholder="Username")
  input(type="password", name="upass", placeholder="Password")
  button(type="submit") Login