extends ../layout

block content
  h2 Add User
  form(method="POST", action="/users/add")
    .mb-3
      label.form-label(for="uname") Username
      input.form-control(type="text", name="uname", required)
    .mb-3
      label.form-label(for="upass") Password
      input.form-control(type="password", name="upass", required)
    .mb-3
      label.form-label(for="utype") User Type
      input.form-control(type="number", name="utype", required)
    button.btn.btn-success(type="submit") Save
    a.btn.btn-secondary(href="/users") Cancel
